@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "PT Sans";
  height: 100%;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header {
  background-color: #FFFFFF;
  color: black;

}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 0 70px;
}

.main-header-logo {
  font-size: 0;
  margin-bottom: -5px;
}

.navigation-links {
  display: flex;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  width: 464px;
  align-items: center;
  flex-wrap: wrap;
}


.navigation-links .navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  max-width: 308px;
  margin-left: auto;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  color: #000000;

}

.navigation-user .navigation-link {
  padding: 22px 12px;
}


.want-here {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background: #756157;
  padding: 8px 34px;

}


.welcome-section {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;
  display: flex;
  justify-content: center;
}

.advantages {
  padding: 69px 0 0 0;
}

.welcome-text {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.pre-advantages-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 69px;
}

.advantages-item {
  display: flex;


}

.advantages-item-info {
  padding: 103px 85px;
  flex: 1;
}

.advantages-item-info > img {
  flex: 2;
}

.advantages-list {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  text-align: center;
}


.advantages-item-info-blue {
  background-color: #82B3D3;
  color: #ffffff;
}


.advantages-item-info-lightgrey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-info-darkgrey {
  background-color: rgba(131, 179, 211, 0.2);
}

.welcome-section-second {
  padding: 64px 0;
}

.welcome-text-second {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

}

.welcome-text-third {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;

}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.services-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


.services-item-dark-grey {
  background-color: rgba(131, 179, 211, 0.12);

}

.services-item-light-grey {
  background-color: #ffffff;
}

.services-list {
  display: flex;
}

.services-item {
  display: flex;
  padding: 80px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;

}

.search-hotels-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  /* margin-top: 96px; */
}

.search-hotels-subtitle {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.button-hotel-finder {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background: #756157;
  padding: 8px 50px;
  border: 0;


}

.newsletter {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 96px 0 104px 0;
}

.newsletter-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

}

.newsletter-subtitle {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
}

.newsletter-form {
  display: flex;
  justify-content: center;

}

.footer-page {
  display: flex;
  padding: 40px 70px 30px 70px;
  align-items: center;
}

.footer-social {
  width: 164px;
  margin-right: auto;
  align-items: center;
}

.footer-social-list {
  display: flex;

}

.footer-social-item {
  padding: 0 10px;
  align-items: center;
}

.footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 720px;

}

.footer-logo-academy {
  width: 120px;
  margin-left: auto;

}

.newsletter-email {
  width: 452px;
  padding: 18px 20px;
  outline: none;
  border: 0;

}

.main-inner-filter-section {
  background-image: url("../images/filter-background.jpg");
  padding: 35px 70px 70px 70px;

}


.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;

  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 25px;
}

.choice-conditions > form {
  display: flex;
  justify-content: space-between;
}


.infrastructure-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.infrastructure-item {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.infrastructure-item:not(:last-child) {
  margin-bottom: 6px;
}

fieldset {
  border: 0;
}

legend {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 22px;
}


.infrastructure-typehouse {
  margin-left: 70px;

}

.price {
  margin-left: auto;
}

.choice-buttons {
  margin-left: 70px;
}

.button-accept {
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.button-reset {
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.results-section {
  padding: 60px 70px;
}

.sorting-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-menu {
  display: flex;
}

.total-found {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 14px 20px;
}

.filters-block {
  max-width: 160px;
  margin-left: 70px;

}

.button-sort-table {
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 14px 12px;

}

.button-sort-slide {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 12px;

}

.button-sort-list {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 12px;

}

.product-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;

}

.product {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
}

.product-img {
  grid-area: 1 / 1 / 1 / 3;
  object-fit: contain;
}

.product-img > a {
  font-size: 0;
  display: block;
}

.product-specification {
  grid-area: 3 / 1 / 3 / 3;
  display: flex;
  justify-content: space-between;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  grid-area: 4 / 1 / 4 / 3;
}

.product-rating {
  grid-area: 5 / 1 / 5 / 3;
}

.title-product {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  grid-area: 2 / 1 / 2 / 3;
  margin: 0;
  padding: 0;
}

.product-type {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.product-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.button-blue {
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  border: 0;
  padding: 8px 0;
}

.button-green {
  background-color: #7DB54F;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  border: 0;
  padding: 8px 0;
}

.product-buttons > a {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  flex: 1;
  padding: 8px 0;
  margin-right: 20px;
}

.product-rating-amount {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.pagination-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #82B3D3;
  min-width: 60px;
  height: 60px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
}

.hidden-pages {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
}

.pagination-current {
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 11px 0 12px 0;
  width: 60px;
  height: 60px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.newsletter-catalog {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0 104px 0;

}

.newsletter-catalog .newsletter-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-catalog .newsletter-subtitle {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-catalog .newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
}

.newsletter-catalog .newsletter-email {
  width: 452px;
  padding: 18px 20px;
  outline: none;
  border: 0;
  background-color: #F2F2F2;
}

.newsletter-catalog .newsletter-form {
  display: flex;
  justify-content: center;
}
